* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.minhadiv {
  width: 1000px;
  height: 400px;
  background-color: black;
  display: flex;
  justify-content: space-evenly; /* alinhar horizontalmente */
  align-items: center; /* alinhar verticalmente */
}

.caixa {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid red;
}
