* {
    margin: 0px; /* distância de um elemento em relação aos de fora */
    padding: 0px; /* distância de um elemento em relação aos de dentro */
    text-decoration: none;
}

.minhadiv {
    width: 1000px;
    height: 1000px;
    background-color: red;
    margin: 20px;
    padding-top: 10px;
}

.filhodiv {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 0px 10px 0px 100px;
    border: 2px dashed white;
    border-radius: 50%;
}