* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  height: 200vh;
  width: 200vw;
}

.input {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.input:disabled {
  width: 500px;
  height: 500px;
  border: 1px solid red;
}

.input::after {
  content: ">";
}
