* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  height: 200vh;
}

.minhadiv {
  width: 500px;
  height: 500px;
  background-color: red;
}

.minhadiv2 {
  width: 500px;
  height: 500px;
  background-color: green;
  position: relative;
}

.absolute {
  width: 80px;
  height: 80px;
  background-color: black;
  position: absolute;
  top: 50%;
}
