* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.minhadiv {
  width: 100px;
  height: 100px;
  background-color: black;
  animation: animacao;
  animation-duration: 5s;
  position: absolute;
}

@keyframes animacao {
  0% {
    top: 0px;
  }
  10% {
    top: 20px;
  }
  20% {
    top: 40px;
  }
  40% {
    top: 60px;
    left: 20px;
  }
  60% {
    top: 80px;
    left: 40px;
  }
  80% {
    top: 100px;
    left: 60px;
  }
  100% {
    top: 120px;
    left: 120px;
  }
  /* from { */
  /*   border-radius: 0; */
  /* } */
  /**/
  /* to { */
  /*   border-radius: 50%; */
  /*   background-color: red; */
  /* } */
}
